.photos-slider-wrapper {
  background-color: map-get($info-block, 'block-background');
}

.photos-slider-wrapper .photos-slider-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .arrow-holder i {
    cursor: pointer;
    font-size: 100px;
    color: map-get($buttons, 'slider');
  }

  .slider-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image-holder {
      position: relative;

      &:hover {
        img {
          opacity: 1;
        }

        .hexagon {
          opacity: 0.2;
        }
      }

      img {
        width: 330px;
        height: 165px;
        margin-right: 2rem;
        margin-left: 2rem;
        border: 15px solid white;
        position: relative;
        opacity: 0.5;
      }

      .hexagon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: map-get($buttons, 'button-fill');
        font-size: 100px;
        opacity: 0.8;
      }

      .search-icon {
        position: absolute;
        left: 50%;
        top: 53%;
        font-size: 32px;
        color: white;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.not-clickable {
  pointer-events: none;
  color: map-get($buttons, 'slider-disabled') !important;
}
