$page: (
        "header": #c61310,
        "footer": #df4a43,
        "social": #c8423c,
);

$navigation: (
        "hover": #e2534b,
        "dropdown-box": #bf443e,
        "active": #3a4141
);

$info-block: (
        "block-background": #ececec,
        "title-border": #bdbdbd
);

$card: (
        "card-background": #f8f8f8,
        "card-border": #e5e6e6,
        "text-color": #666666,
        "button-color": #2e3636,
        "button-border": #343c3c,
);

$buttons: (
        "hover-button-fill": #e8655b,
        "hover-border": #e2534b,
        "button-fill": #3a4141,
        "border": #343c3c,
        "slider": #e74b40,
        "rounded-rectangle": #99a5a5,
        "rounded-rectangle-border": #667070,
        "slider-rectangle-button": #bbb,
        "slider-disabled": #727777,
        "video-button-start": #d2d1d4,
        "video-button-end": #edebeb
);

$text: (
        "slider-text-color": #f2f2f2,
        "section-title": #da3f39,
        "section-subtitle": #777777,
        "highlight-description": #d83b35,
        "description": #404041,
        "footer-items": rgba(0, 0, 0, 0.5)
);

$form: (
        "border": #838383,
        "input-background": #dcdcdc,
        "text": #404041
);

$footer: (
        "info-background":#df4a43,
        "footer-baclground": #c8423c,
        "text-background": #b23b36
)
